{% extends 'authapp/base.html' %}
{% load static %}
{% block content %}
<section class="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 contact-info">
                <form class="contact-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="site-btn">Регистрация</button>
                </form>
                <!--                <form class="contact-form">-->
                <!--                    <input type="text" placeholder="Your name">-->
                <!--                    <input type="text" placeholder="Your e-mail">-->
                <!--                    <input type="text" placeholder="Subject">-->
                <!--                    <textarea placeholder="Message"></textarea>-->
                <!--                    <button class="site-btn">SEND NOW</button>-->
                <!--                </form>-->
            </div>
        </div>
    </div>
</section>
{% endblock %}